<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Edit Event Record</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version) -->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #303030;">
        <div class="container-fluid p-0">
            <a class="navbar-brand" href="/internalLanding"><img src="../assets/TSlogoLowRes.png" alt="..." /> Turtle Shelter Project -- Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/internalLanding">Admin Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/eventRecords">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="/volunteerRecords">Volunteers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminRecords">Admins</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle logout-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Logout
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout">Logout</a>
                            <a class="dropdown-item" href="/">Return Home</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main style="padding-top: 70px;"></main>
    
    <!-- Main Content -->
    <section>
        <div class="container">
          <div>
            <div>
          <form id="editEventForm" method="post" action="/editEventRec/<%= event.eventid %>">
          <div style="padding-bottom: 50px;">
            <div class="form-row row align-items-center">
              <div class="col-md-3"><h2>Edit Event</h2></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"><button class="btn btn-primary" type="submit">Save Changes</button></div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="eventstatus">Event Status</label>
                  <select class="form-control" name="eventstatus" id="eventstatus" required>
                    <option value="pending" <%= event.eventstatus === "pending" || !event.eventstatus ? "selected" : "" %>>Pending</option>
                    <option value="approved" <%= event.eventstatus === "approved" ? "selected" : "" %>>Approved</option>
                    <option value="planned" <%= event.eventstatus === "planned" ? "selected" : "" %>>Planned</option>
                    <option value="completed" <%= event.eventstatus === "completed" ? "selected" : "" %>>Completed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

              <!-- Contact Information Accordion -->
              <div class="accordion mb-4" id="contactInfoAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" style="background-color: 759145;" id="headingContactInfo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContactInfo" aria-expanded="false" aria-controls="collapseContactInfo">
                      Contact Information
                    </button>
                  </h2>
                  <div id="collapseContactInfo" class="accordion-collapse collapse" aria-labelledby="headingContactInfo" data-bs-parent="#contactInfoAccordion">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="form-group col-md-3">
                          <label for="contactname">Contact Name *</label>
                          <p>Enter the full name of the primary contact person for the event.</p>
                          <input class="form-control" type="text" name="contactname" id="contactname" value="<%= event.contactname %>" required />
                        </div>
                        <div class="form-group col-md-3">
                          <label for="organization">Organization</label>
                          <p>Enter the name of the organization or group hosting the event.</p>
                          <input class="form-control" type="text" name="organization" id="organization" value="<%= event.organization %>" required />
                        </div>
                        <div class="form-group col-md-3">
                          <label for="contactemail">Contact Email</label>
                          <p>Provide the email address of the event organizer.</p>
                          <input class="form-control" type="email" name="contactemail" id="contactemail" value="<%= event.contactemail %>" required />
                        </div>
                        <div class="form-group col-md-3">
                          <label for="contactphone">Contact Phone</label>
                          <p>Enter the phone number for the main event contact person.</p>
                          <input class="form-control" type="tel" name="contactphone" id="contactphone" value="<%= event.contactphone %>" required />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

      <!-- Event Details Accordion -->
      <div class="accordion mb-4" id="eventDetailsAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEventDetails">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEventDetails" aria-expanded="false" aria-controls="collapseEventDetails">
              Event Location
            </button>
          </h2>
          <div id="collapseEventDetails" class="accordion-collapse collapse" aria-labelledby="headingEventDetails" data-bs-parent="#eventDetailsAccordion">
            <div class="accordion-body">
              <!-- Address -->
              <h3>Event Location</h3>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="address">Street Address</label>
                  <p>Enter the complete street address for the event.</p>
                  <input class="form-control" type="text" name="address" id="address" value="<%= event.address%>" required/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="city">City</label>
                  <p>Enter the city where the event will be held.</p>
                  <input class="form-control" type="text" name="city" id="city" value="<%= event.city%>" required/>
                </div>
                <div class="form-group col-md-3">
                  <label for="state">State *</label>
                  <p>Enter the state where the event will be held</p>
                  <select class="form-control" name="state" id="state" required>
                      <option value="" disabled <%= !event.state ? "selected" : "" %>>Select your state *</option>
                      <option value="ut" <%= event.state === "ut" ? "selected" : "" %>>Utah</option>
                      <option value="al" <%= event.state === "al" ? "selected" : "" %>>Alabama</option>
                      <option value="ak" <%= event.state === "ak" ? "selected" : "" %>>Alaska</option>
                      <option value="az" <%= event.state === "az" ? "selected" : "" %>>Arizona</option>
                      <option value="ar" <%= event.state === "ar" ? "selected" : "" %>>Arkansas</option>
                      <option value="ca" <%= event.state === "ca" ? "selected" : "" %>>California</option>
                      <option value="co" <%= event.state === "co" ? "selected" : "" %>>Colorado</option>
                      <option value="ct" <%= event.state === "ct" ? "selected" : "" %>>Connecticut</option>
                      <option value="de" <%= event.state === "de" ? "selected" : "" %>>Delaware</option>
                      <option value="fl" <%= event.state === "fl" ? "selected" : "" %>>Florida</option>
                      <option value="ga" <%= event.state === "ga" ? "selected" : "" %>>Georgia</option>
                      <option value="hi" <%= event.state === "hi" ? "selected" : "" %>>Hawaii</option>
                      <option value="id" <%= event.state === "id" ? "selected" : "" %>>Idaho</option>
                      <option value="il" <%= event.state === "il" ? "selected" : "" %>>Illinois</option>
                      <option value="in" <%= event.state === "in" ? "selected" : "" %>>Indiana</option>
                      <option value="ia" <%= event.state === "ia" ? "selected" : "" %>>Iowa</option>
                      <option value="ks" <%= event.state === "ks" ? "selected" : "" %>>Kansas</option>
                      <option value="ky" <%= event.state === "ky" ? "selected" : "" %>>Kentucky</option>
                      <option value="la" <%= event.state === "la" ? "selected" : "" %>>Louisiana</option>
                      <option value="me" <%= event.state === "me" ? "selected" : "" %>>Maine</option>
                      <option value="md" <%= event.state === "md" ? "selected" : "" %>>Maryland</option>
                      <option value="ma" <%= event.state === "ma" ? "selected" : "" %>>Massachusetts</option>
                      <option value="mi" <%= event.state === "mi" ? "selected" : "" %>>Michigan</option>
                      <option value="mn" <%= event.state === "mn" ? "selected" : "" %>>Minnesota</option>
                      <option value="ms" <%= event.state === "ms" ? "selected" : "" %>>Mississippi</option>
                      <option value="mo" <%= event.state === "mo" ? "selected" : "" %>>Missouri</option>
                      <option value="mt" <%= event.state === "mt" ? "selected" : "" %>>Montana</option>
                      <option value="ne" <%= event.state === "ne" ? "selected" : "" %>>Nebraska</option>
                      <option value="nv" <%= event.state === "nv" ? "selected" : "" %>>Nevada</option>
                      <option value="nh" <%= event.state === "nh" ? "selected" : "" %>>New Hampshire</option>
                      <option value="nj" <%= event.state === "nj" ? "selected" : "" %>>New Jersey</option>
                      <option value="nm" <%= event.state === "nm" ? "selected" : "" %>>New Mexico</option>
                      <option value="ny" <%= event.state === "ny" ? "selected" : "" %>>New York</option>
                      <option value="nc" <%= event.state === "nc" ? "selected" : "" %>>North Carolina</option>
                      <option value="nd" <%= event.state === "nd" ? "selected" : "" %>>North Dakota</option>
                      <option value="oh" <%= event.state === "oh" ? "selected" : "" %>>Ohio</option>
                      <option value="ok" <%= event.state === "ok" ? "selected" : "" %>>Oklahoma</option>
                      <option value="or" <%= event.state === "or" ? "selected" : "" %>>Oregon</option>
                      <option value="pa" <%= event.state === "pa" ? "selected" : "" %>>Pennsylvania</option>
                      <option value="ri" <%= event.state === "ri" ? "selected" : "" %>>Rhode Island</option>
                      <option value="sc" <%= event.state === "sc" ? "selected" : "" %>>South Carolina</option>
                      <option value="sd" <%= event.state === "sd" ? "selected" : "" %>>South Dakota</option>
                      <option value="tn" <%= event.state === "tn" ? "selected" : "" %>>Tennessee</option>
                      <option value="tx" <%= event.state === "tx" ? "selected" : "" %>>Texas</option>
                      <option value="vt" <%= event.state === "vt" ? "selected" : "" %>>Vermont</option>
                      <option value="va" <%= event.state === "va" ? "selected" : "" %>>Virginia</option>
                      <option value="wa" <%= event.state === "wa" ? "selected" : "" %>>Washington</option>
                      <option value="wv" <%= event.state === "wv" ? "selected" : "" %>>West Virginia</option>
                      <option value="wi" <%= event.state === "wi" ? "selected" : "" %>>Wisconsin</option>
                      <option value="wy" <%= event.state === "wy" ? "selected" : "" %>>Wyoming</option>
                  </select>
              </div>              
                <div class="form-group col-md-3">
                  <label for="zip">Zip Code</label>
                  <p>Enter the ZIP code for the event's location.</p>
                  <input class="form-control" type="number" name="zip" id="zip" value="<%= event.zip%>" required/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- Pre-Event Details Accordion -->
      <div class="accordion mb-4" id="preEventDetailsAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingPreEventDetails">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreEventDetails" aria-expanded="false" aria-controls="collapsePreEventDetails">
              Pre-Event Details
            </button>
          </h2>
          <div id="collapsePreEventDetails" class="accordion-collapse collapse" aria-labelledby="headingPreEventDetails" data-bs-parent="#preEventDetailsAccordion">
            <div class="accordion-body">
              <!-- Event Details -->
              <h3>Event Details</h3>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="expectedparticipants">Expected Participants</label>
                  <p>Provide the estimated number of participants.</p>
                  <input class="form-control" type="number" name="expectedparticipants" id="expectedparticipants" value="<%= event.expectedparticipants%>" required/>
                </div>
                <div class="form-group col-md-4">
                  <label for="expectedduration">Expected Duration</label>
                  <p>Enter the expected duration of the event in hours.</p>
                  <input class="form-control" type="number" name="expectedduration" id="expectedduration" value="<%= event.expectedduration%>" required/>
                </div>
                <div class="form-group col-md-4">
                  <label for="starttime">Start Time</label>
                  <p>Specify the starting time for the event.</p>
                  <input class="form-control" type="time" name="starttime" id="starttime" value="<%= event.starttime || '' %>" />
                </div>
              </div>
      
              <!-- Date Range -->
              <h3>Event Date</h3>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="startdaterange">Suggested Start Date</label>
                  <p>Select the first available date for the event.</p>
                  <input class="form-control" type="date" name="startdaterange" id="startdaterange" value="<%= event.startdaterange ? new Date(event.startdaterange).toISOString().split('T')[0] : '' %>" required />
                </div>
                <div class="form-group col-md-3">
                  <label for="enddaterange">Suggested End Date</label>
                  <p>Select the last available date for the event (if applicable).</p>
                  <input class="form-control" type="date" name="enddaterange" id="enddaterange" value="<%= event.enddaterange ? new Date(event.enddaterange).toISOString().split('T')[0] : '' %>" />
                </div>
                <!-- Planned Event Date -->
                <div class="form-group col-md-3">
                  <label for="eventdate">Planned Event Date</label>
                  <p>Select the planned date for the event.</p>
                  <input class="form-control" type="date" name="eventdate" id="eventdate" value="<%= event.eventdate ? new Date(event.eventdate).toISOString().split('T')[0] : '' %>" />
                </div>
              </div>              
      
              <!-- Event Activities -->
              <h3>Event Activities</h3>
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <label for="eventactivities">Type of Activities</label>
                    <p>Select the type of activities planned for the event.<br> </p>
                    <select class="form-control" name="eventactivities" id="eventactivities">
                      <option value="" <%= !event.eventactivities ? "selected" : "" %>>Select Activity</option>
                      <option value="sewing" <%= event.eventactivities === "sewing" ? "selected" : "" %>>Sewing</option>
                      <option value="non-sewing" <%= event.eventactivities === "non-sewing" ? "selected" : "" %>>Non-Sewing</option>
                      <option value="both" <%= event.eventactivities === "both" ? "selected" : "" %>>Both</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="numsewers">Number of Sewers</label>
                    <p>Number of sewers available for the event.</p>
                    <input class="form-control" type="number" name="numsewers" id="numsewers" value="<%= event.numsewers || '' %>" />
                  </div>
                  <div class="col-md-4">
                    <label for="nummachines">Number of Machines</label>
                    <p>Number of sewing machines available for event.</p>
                    <input class="form-control" type="number" name="nummachines" id="nummachines" value="<%= event.nummachines || '' %>" />
                  </div>
                  <div class="row" style="padding-top: 20px;">
                    <div class="form-group col-md-3">
                        <label for="numroundtables">Number of Round Tables</label>
                        <input class="form-control" type="number" name="numroundtables" id="numroundtables" value="<%= event.numroundtables || '' %>" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="numrectanglestables">Number of Rectangle Tables</label>
                        <input class="form-control" type="number" name="numrectanglestables" id="numrectanglestables" value="<%= event.numrectanglestables || '' %>" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="numadults">Number of Adults</label>
                        <input class="form-control" type="number" name="numadults" id="numadults" value="<%= event.numadults || '' %>" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="numchildren">Number of Children</label>
                        <input class="form-control" type="number" name="numchildren" id="numchildren" value="<%= event.numchildren || '' %>" />
                    </div>
                    </div>
                </div>
              </div>
      
              <!-- Jen Sharing Story -->
              <h3>Special Request</h3>
              <div class="form-group">
                <label for="jenshare">Would you like Jen to share her story?</label>
                <p>Select "Yes" if you'd like the founder, Jen, to share her story at the event.</p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="jenshare" id="jenshareyes" value="yes" <%= event.jenshare ? "checked" : "" %> />
                  <label class="form-check-label" for="jenshareyes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="jenshare" id="jenshareno" value="no" <%= !event.jenshare ? "checked" : "" %> />
                  <label class="form-check-label" for="jenshareno">No</label>
                </div>
              </div>
      
              <!-- Space Description -->
              <h3>Additional Information</h3>
              <div class="form-group">
                <label for="spacedescription">Space Description</label>
                <p>Provide a brief description of the space available for the event.</p>
                <textarea class="form-control" name="spacedescription" id="spacedescription"><%= event.spacedescription || '' %></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Post-Event Details Accordion -->
      <div class="accordion mb-4" id="postEventDetailsAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingPostEventDetails">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostEventDetails" aria-expanded="false" aria-controls="collapsePostEventDetails">
              Post-Event Details
            </button>
          </h2>
          <div id="collapsePostEventDetails" class="accordion-collapse collapse" aria-labelledby="headingPostEventDetails" data-bs-parent="#postEventDetailsAccordion">
            <div class="accordion-body">
              <!-- Post-Event Information -->
              <h3>Post-Event Information</h3>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="actualduration">Actual Duration</label>
                  <p>Enter the actual duration of the event in hours.</p>
                  <input class="form-control" type="number" name="actualduration" id="actualduration" value="<%= event.actualduration || '' %>" />
                </div>
                <div class="form-group col-md-3">
                  <label for="actualparticipants">Actual Participants</label>
                  <p>Enter the actual number of participants who attended.</p>
                  <input class="form-control" type="number" name="actualparticipants" id="actualparticipants" value="<%= event.actualparticipants || '' %>" />
                </div>
              </div>

              <div class="row">
                <!-- Pockets -->
                <div class="form-group col-md-2">
                  <label for="pockets">Pockets</label>
                  <p>Enter the number of pockets produced during the event.</p>
                  <input class="form-control" type="number" name="pockets" id="pockets" value="<%= event.pockets || '' %>" />
                </div>

                <!-- Collars -->
                <div class="form-group col-md-2">
                  <label for="collars">Collars</label>
                  <p>Enter the number of collars produced during the event.</p>
                  <input class="form-control" type="number" name="collars" id="collars" value="<%= event.collars || '' %>" />
                </div>

                <!-- Envelopes -->
                <div class="form-group col-md-2">
                  <label for="envelopes">Envelopes</label>
                  <p>Enter the number of envelopes produced during the event.</p>
                  <input class="form-control" type="number" name="envelopes" id="envelopes" value="<%= event.envelopes || '' %>" />
                </div>

                <!-- Vests -->
                <div class="form-group col-md-2">
                  <label for="envelopes">Vests</label>
                  <p>Enter the number of vest pieces produced during the event.</p>
                  <input class="form-control" type="number" name="envelopes" id="envelopes" value="<%= event.envelopes || '' %>" />
                </div>

                <!-- Completed Products -->
                <div class="form-group col-md-2">
                  <label for="envelopes">Completed Products</label>
                  <p>Enter the number of completed products produced.</p>
                  <input class="form-control" type="number" name="envelopes" id="envelopes" value="<%= event.envelopes || '' %>" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <button class="btn btn-primary" type="submit">Save Changes</button>
      </div>
      
        </div>
      </div>  
            </form>
        </div>
    </section>
    <!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
